*{
    background-color: antiquewhite
}
p{
    color:darkgray;
    width:400px;
    font-size: 10px;
    font-family:"나눔스퀘어라운드";
    text-align: center;
    
}
.list_description{
    border-top: 4px solid;
    border-bottom: 4px solid;
    font-weight: bold;
    font-size: 25px;
    color: cornflowerblue;
}

#dog{
    margin-right: auto;
    margin-left: auto;
    width: 350px;
    height: 200px;
}

ol li{
    margin-left:20px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: monospace
}
